<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="header">
		<header>
			<!-- Jumbotron -->
			<div class="p-3 text-center bg-light"
				style="background-color: #2f3745 !important;">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-3">
							<img th:src="@{/images/bandesal.png}" style="width: 100px;" />
						</div>
						<div class="col-8">
							<h1 class="mb-3" style="color: white;">Banco de Desarrollo
								de El Salvador</h1>
						</div>
						<div class="col-1">
							<form th:action="@{/logout}" method="post">
								<button type="submit" class="btn btn-light btn-sm">
									<i class="bi bi-box-arrow-right"></i> Log out
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- Jumbotron -->
		</header>
		<span class="glyphicon glyphicon-log-out"></span>

	</div>
	<div th:fragment="menu">
		<nav class="navbar navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="readers">Readers</a>
			</div>
		</nav>
		<nav class="navbar navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="blogs">Blogs</a>
			</div>
		</nav>
		<nav class="navbar navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" th:href="@{/app/blogsReaders}">Readers por blog</a>
			</div>
		</nav>
	</div>

	<div th:fragment="footer">
		<p>Parrafo del pie</p>
	</div>

</body>
</html>